game/images/by_LIZM/Troy/.DS_Store
.DS_Store
game/.DS_Store
game/gui/.DS_Store
game/gui/phone/.DS_Store
game/images/.DS_Store
game/images/by_LIZM/.DS_Store
game/images/by_LIZM/Courtney/.DS_Store
game/images/by_LIZM/Eir/.DS_Store
game/images/by_LIZM/Jade/.DS_Store
game/images/by_LIZM/Karla/.DS_Store
game/images/by_unclemugen/.DS_Store
game/images/messenger/.DS_Store
game/tl/.DS_Store
errors.txt
errors (1).txt
files.txt
log.txt
log (1).txt
log (2).txt
traceback (1).txt
game/*.rpyc
cache/
game/*.bak